# dependencies
/node_modules

# System Files
.DS_Store
Thumbs.db
[Dd]esktop.ini

# Links
*.lnk
.idea/
*.PEM
.vscode/

# Logs
npm-debug.log

#
*.*~
*[-\.]lock.json

.vscode
.vs
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Build results
dist
